@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap');
*{margin: 0; padding: 0;}
body{font:14px 'Noto Sans KR', sans-serif; color: #333; }
li{list-style: none;}
a{text-decoration: none; color: #333;}
img{border: none; vertical-align: top;}
.layout{max-width: 1440px; margin: 0 auto; box-sizing: border-box; padding: 10px;}
.layout > .tit{display: flex; justify-content: space-between; align-items: flex-end;}

.top_h .layout{display: flex; justify-content: space-between; align-items: center; height: 80px;}
.top_h #h_logo{width: 300px; }
.top_h #h_logo img{width: 100%;}
.top_h .search_box input{width: 400px; padding: 8px; border: none; border-bottom: 3px solid #555; outline: none; font-size: 1em; transition: all 0.3s;}
.top_h .search_box input:focus{border-bottom: 3px solid #e0002a;}
.search_box .tag_v{margin-top: 0.3em; text-indent: 8px;}
.search_box .tag_v ul{display: flex;}
.search_box .tag_v ul li a{display: block; padding-right: 0.8em; color: #888; transition: all 0.3s;}
.search_box .tag_v ul li:hover a{color: #444;}
.member_box ul{display: flex;}
.member_box a{position: relative; display: block; padding-left: 8px; color: #888; transition: all 0.3s;}
.member_box a::before{position: absolute; top: 4px; left: 4px; display: block; content: ''; height: 15px; border-left: 1px solid #777;}
.member_box ul li:first-child a::before{border:none}
.member_box ul li:hover a{color: #e0002a;}

/* menu */
.menu{position: relative;}
#main{ border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; margin-top: 2em; z-index: 100;}
#main > ul{position: relative; display: flex; justify-content: center; align-items: center; height: 50px;} 
#main > ul > li > a{display: block; font-weight: 600; font-size: 1.5em; width: 150px; height: 50px; line-height: 50px; text-align: center; transition: all 0.3s; position: relative;}
#main > ul > li:hover > a{color: #e0002a;}
#main > ul > li >.sub{position: absolute; top: 51px; display: none; width: 150px; text-align: center;  z-index: 888;}
#main > ul > li > .sub li a{display: block; padding: 10px 0; color: #fff; transition: all 0.3s; font-size: 1.1em;}
#main > ul > li > .sub li:hover a{background: #111; color: #fff;}
.menu > .sub_bg{position: fixed;  display: none; width: 100%; height: 180px; background: #333; z-index: 100;}

/* contents */
.contents{ margin-bottom: 3em;}
.contents > div{margin-bottom: 2em;}
/* slide 슬라이드 */
.slide_box{position: relative; height: 100%; z-index:30; overflow: hidden;}
.slide{width: 100%; height: 100%; }
.slide ul{ position: relative; padding-top: 22.41%; border-bottom: 1px solid #f2f2f2;}
.slide ul li{ width: 100%; position: absolute; top: 0; }
.slide ul li a{display: block;}
.slide ul li:not(:first-child){display: none;}
.slide img{width: 100%; }

.slide_box > .layout{width: 100%;  position: relative; top: 50%; left: 50%;  transform: translate(-50%, -50%);}
.sl_btn{ display: flex; justify-content: space-between;  }
.sl_btn > span{font-size: 4em; color: #999; cursor: pointer;}
.sl_btn > span:hover{color: #e0002a;}


/* best menu 베스트 메뉴 */
.ranking_list{position: relative;}
.ranking_list > .layout{ overflow: hidden;  position: relative; }
.ranking_list h2{font-size: 2.5em;}
.ranking_list .rank_v{position: relative; z-index: 300; margin: 3em 0;}
.ranking_list .rank_v > .list{height: 380px; }
.ranking_list li{overflow: hidden;}
.ranking_list a{display: block;}
.ranking_list figure{overflow: hidden; text-align: center;}
.ranking_list img{width:100%;  transition: all 0.3s;}

.c_info{width: 100%; text-align: center;}
.c_info .c_name{font-size: 1.2em; transition: all 0.3s;}
.c_info .c_con{display: none; font-size: 1.1em; margin-top: 0.5em; color: #555;}
.ranking_list li:hover .c_name{color: #e0002a;}
.ranking_list li:hover img{transform: scale(1.2);}


/* 좌우버튼 */
.rank_btn{position: absolute; top: 50%;  transform: translateY(-50%); width: 100%; z-index: 500;}
.rank_btn{  width: calc(100% - 10px);} 
.rank_btn span{ top: 50%; font-size:5em; cursor: pointer; transition: all 0.3s; color: #999;  font-weight: 300;}
.rank_btn span:hover{color: #e0002a;}

.rank_btn span.swiper-button-next, .rank_btn span.swiper-button-prev{background-image: none;}

/* fran 창업 안내 가맹점 안내 */
.fran_con{width: 100%; position: relative;}
.fran_con img{width: 100%; filter: brightness(0.5)}
.fran{position: absolute; top: 50%; font-size: 1.5em; color: #fff; transform: translateY(-50%); text-align: center; width: 100%;}
.fran > .tit strong{color: #e0002a;}
.fran > p{font-size: 0.8em; font-weight: 400; margin: 0.5em 0;}
.fran_btn > button{background: #e0002a; color: #fff; border: none; padding: 8px 12px; border-radius: 5px; font-weight: 500;  margin: 0 5px; cursor: pointer; transition: all 0.3s;}
.fran_btn > button:hover{box-shadow: 0 0 12px #c20124;}

/* event 이벤트 */
.event_con > .layout > .con{display: flex; justify-content: space-around; align-items: center; margin: 1em 0;}
.envet_con .view img{width: 100%;}

/* 이벤트 */
.event_list{width: 500px; position: relative;}
/* 제목 */
.event_list > .tit{display: flex; justify-content: space-between; align-items: flex-end; padding: 5px 4px;  margin-bottom: 0.5em;}
.event_list > .tit h2{font-size: 2.5em;}
/*  목록 */
.event_con .view{ z-index: 200;}
.event_con .view a{display: block;}
/*  목록 */
.event_con{position: relative;}
.event_list figure{display: none;}
.event_list figure img:last-child{display: none;}
.event_list ul > li > a .info{display: flex; justify-content: space-between; font-size: 1.2em; padding: 15px 18px; border-bottom: 1px solid #ccc ;}
.event_list li:first-child a{border-top: 1px solid #ccc;}
.event_list  strong, .event_list ul > li > a > span{color: #999; transition: all 0.3s;}
.event_list  strong{width: calc(100% - 100px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.event_list ul > li > a > .info span{ font-size: 0.9em;}
.event_list li.active strong{color: #333; }
.event_list li.active > a > .info  span{color: #444;}
.plus:hover a, .event_list li:hover strong{color: #e0002a; }

/* d */


/* notice 공지사항 */
.notice{position: relative; width: 100%; height: 450px; background: #f5f5f5; z-index: 1;}
.notice::before{z-index: -1; position: absolute; top: 0; left: 0; display: block; content: ''; width: 410px; height: 404px; background: url('../img/bg_01.png') no-repeat 0 0/contain; }
.notice::after{z-index: -1;  display: block; content: ''; width: 390px; height: 300px; background: url('../img/bg_02.png') no-repeat 0 0/contain; position: absolute; right: 0; bottom: 0;}
.notice .layout{max-width: 550px; margin: 0 auto; }
.notice > .layout >  .tit{display: flex; justify-content: space-between; align-items: flex-end; margin: 1em 0 1em; z-index: 500;}
.notice .layout h2{ font-size: 3em;}
.notice ul > li > a{display: flex; justify-content: space-between; color: #888; font-size: 1.2em;  padding: 10px 10px; border-bottom: 1px solid #ccc;}
.notice strong{width: calc(100% - 100px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: all 0.3s;}
.notice span{font-size: 0.9em;}
.notice li:first-child a{border-top: 1px solid #ccc; color: #555;}
.notice li:hover strong{color: #e0002a;}

/* footer */

footer{width: 100%; background: #444; }
footer .layout{display: flex; align-items: center; justify-content: space-between;}
footer #f_logo{width: 100px;}
footer #f_logo img{width: 100%;}
.f_con{color: #999;}
.f_con ul{display: flex; margin-bottom: 0.7em;}
.f_con ul a{display: block; padding-right: 8px; color: #999;}
.f_con ul li:nth-child(2) a{color: #e0002a;}
footer > .layout > .sns_d h2{color: #f2f2f2; text-indent: 5px; font-weight: 500; font-size: 1em; margin-bottom: 0.5em;}
footer > .layout >  .sns_d ul{display: flex;}
footer > .layout >  .sns_d li a{display: block; width: 35px; padding: 0 3px;}
footer > .layout >  .sns_d img{width: 100%; filter:contrast(0.3); transition: all 0.3s;}
footer > .layout >  .sns_d li:hover img{filter: contrast(1);}


/* 모바일 버전 */
.close_btn{height: 100%; display: none;}
.close_btn span{ color: #fff; position: absolute; font-size: 3em; background: #111; border-radius: 50%; z-index: 1000;}
.mb_wrap{display: none; position: relative; z-index:500; width: 100%;}
.mb_wrap > #mb_btn > span{display: block; cursor: pointer; font-size: 2.5em}
.mb_wrap > .sub_bg{position: fixed; top: -100%; left: 0; width: 100%; height: 100vh; background: #000000cf;  }
.mb_wrap > #main{ z-index: 2000; position: fixed; top: -100%; left: 0; width: 100%; margin: 0;}
.mb_wrap > #main > ul{flex-direction: column; z-index: 2000; height: 100%; border: none;}
.mb_wrap > #main > ul > li{width: 100%; position: relative;}
.mb_wrap > #main > ul > li > a{display: block;  background: #000000da;  width: 100%; color: #f2f2f2; height: 60px; line-height: 60px;  border-bottom: 1px solid #ccc;}

.mb_wrap > #main li > .sub{width: 100%; display: none; height: auto; position: relative; text-align: center;  background: rgba(43, 43, 43, 0.855);}
.mb_wrap > #main  li >.sub a{height: 50px; line-height: 50px; display: block; border-bottom: 1px solid rgba(20, 20, 20, 0.855);}
@media screen  and (max-width:1024px) {
    /* 공지사항 */
    .notice::before{width: 310px; height: 304px;  }
    .notice::after{ width: 290px; height: 200px; background-position: right;}


}
@media screen  and (max-width:768px) {
    .mb_wrap{display: block;}
    /* header */
    header{border-bottom: 1px solid #f2f2f2}
    .top_h .layout{justify-content: center;}
    .top_h #h_logo{width: 200px;}
    .top_h .search_box, .menu > #main, .member_box{display: none;}

    .slide ul{padding-top: 100%; left: 0;}

    .slide ul li img:first-child{display: none;}
    /* best menu */
    .ranking_list .rank_v > .list{ height: auto; }
    .ranking_list li.swiper-slide{overflow: hidden; width:40%;}
    .ranking_list li img{width: 50%;}
    .ranking_list li.swiper-slide-active img{width: 80%;}
    .ranking_list li.swiper-slide-active .c_con{display: block;}

    .rank_btn span.swiper-button-next{right: 30%; transform: translateX(-50%); width: auto; height: auto;}
    .rank_btn span.swiper-button-prev{left:30%;  transform: translateX(-50%); width: auto; height: auto;}


    /* 가맹점 안내 */
    .fran_con{height: 100%;}
    .fran_con img{height: 200px;}
    .fran{font-size: 1em;}
    /* 이벤트 */
    .event_list{width: auto;}
    .event_con > .layout > .con{display: block; overflow: hidden;}
    .event_con .view,  .event_list ul > li > a .info span{display: none;}
    .event_con ul.swiper-wrapper{flex-direction: row;}
    .event_list figure, .event_list figure img:last-child{display: block;}
    .event_list figure img{width: 100%; border:none;}
    .event_list figure img:first-child{display: none;}
    .event_list ul > li > a .info{padding: 5px 0;}
    .event_list strong{flex-grow: 1; color: #333;}
    .event_list ul > li > a .info, .event_list ul > li > a:first-child{border: none;}


    /* 공지사항 */
    .notice::before{width: 200px; height: 204px;  }
    .notice::after{ width: 190px; height: 100px; background-position: right;}
    .notice ul > li > a{font-size: 1em;}

    /* footer */
    footer{padding: 1em 0;}
    footer #f_logo, .sns_d, .ad ul{display: none;}
    .f_con{flex-grow: 1;}
    .f_con ul{justify-content: center;}
    .ad p{text-align: center;}
    .f_con > ul > li:nth-child(1), .f_con ul li:nth-child(3), .f_con ul li:nth-child(4), .f_con ul li:nth-child(7){display: none;}

}