@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
*{margin: 0; padding: 0;}
body{font: 14px 'Noto Sans KR', sans-serif; color: #fff; background: #020202;}
a{text-decoration: none; color: #fff;}
li{list-style: none;}
img{border: 0; vertical-align: top;} 